Repository GrayGhostDev/Social-auto-workflows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GrayGhostDev/engineering-team, @GrayGhostDev/devops-team, @GrayGhostDev/sre-team, @GrayGhostDev/security-team, @GrayGhostDev/content-team, @GrayGhostDev/technical-writers, @GrayGhostDev/qa-team, @GrayGhostDev/release-managers

.github/CODEOWNERS:

# CODEOWNERS for Social Auto Workflows
# These owners will be the default owners for everything in the repo

# Global owners - Engineering team owns all code by default
* @GrayGhostDev/engineering-team

# Infrastructure and DevOps
/infra/ @GrayGhostDev/devops-team
/terraform/ @GrayGhostDev/devops-team
/.github/workflows/ @GrayGhostDev/devops-team
/scripts/ @GrayGhostDev/devops-team
Dockerfile @GrayGhostDev/devops-team
docker-compose.yml @GrayGhostDev/devops-team
.dockerignore @GrayGhostDev/devops-team

# Kubernetes configurations
/k8s/ @GrayGhostDev/devops-team @GrayGhostDev/sre-team
*.yaml @GrayGhostDev/devops-team
*.yml @GrayGhostDev/devops-team

# Security-sensitive files
**/secrets.* @GrayGhostDev/security-team
**/credentials.* @GrayGhostDev/security-team
**/*key* @GrayGhostDev/security-team
**/*token* @GrayGhostDev/security-team
.env* @GrayGhostDev/security-team
/docs/SECURITY.md @GrayGhostDev/security-team

# n8n Workflows - Content team should review
/workflows/ @GrayGhostDev/content-team @GrayGhostDev/engineering-team
*.n8n.json @GrayGhostDev/content-team

# Documentation
/docs/ @GrayGhostDev/technical-writers
*.md @GrayGhostDev/technical-writers
README.md @GrayGhostDev/technical-writers @GrayGhostDev/engineering-team

# Configuration files
package.json @GrayGhostDev/engineering-team
package-lock.json @GrayGhostDev/engineering-team
tsconfig.json @GrayGhostDev/engineering-team
.eslintrc* @GrayGhostDev/engineering-team
.prettierrc* @GrayGhostDev/engineering-team

# Tests
/tests/ @GrayGhostDev/qa-team @GrayGhostDev/engineering-team
*.test.* @GrayGhostDev/qa-team
*.spec.* @GrayGhostDev/qa-team

# CI/CD and GitHub configurations
/.github/ @GrayGhostDev/devops-team @GrayGhostDev/engineering-team
.github/CODEOWNERS @GrayGhostDev/devops-team @GrayGhostDev/security-team

# Release files
CHANGELOG.md @GrayGhostDev/release-managers
VERSION @GrayGhostDev/release-managers

fix(security): update cypress to fix moderate vulnerability
  package-lock.json
  package.json
  scripts/setup-github.sh
Owners: @GrayGhostDev/engineering-team, @GrayGhostDev/devops-team

docs: update CLAUDE.md with comprehensive project information
  CLAUDE.md
  docs/SETUP_GUIDE.md
Owners: @GrayGhostDev/technical-writers

feat: implement GrayGhostAI platform system architecture
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/architecture-diagram.md
  infra/k8s/base/ingress.yaml
  infra/k8s/base/monitoring/grafana-dashboards.yaml
  infra/k8s/base/monitoring/loki-config.yaml
  infra/k8s/base/monitoring/prometheus-config.yaml
  infra/k8s/base/n8n-deployment.yaml
  infra/k8s/base/namespace.yaml
  infra/k8s/base/postgres-ha.yaml
  infra/k8s/base/redis-cluster.yaml
  infra/k8s/base/shared-services.yaml
  infra/terraform/modules/waf/main.tf
  infra/terraform/modules/waf/outputs.tf
  infra/terraform/modules/waf/variables.tf
Owners: @GrayGhostDev/technical-writers, @GrayGhostDev/devops-team

docs: update CLAUDE.md with GrayGhostAI architecture details
  CLAUDE.md
Owners: @GrayGhostDev/technical-writers

feat: implement complete GrayGhost AI platform deployment
  docs/IMPLEMENTATION_SUMMARY.md
  infra/ansible/playbooks/cis-hardening.yml
  infra/helm/n8n/values-dev.yaml
  infra/terraform/main.tf
  infra/terraform/templates/node-userdata.sh
  infra/terraform/variables.tf
  scripts/deploy-grayghost-ai.sh
  tests/jest.config.js
  workflows/real-time-trend-miner.json
Owners: @GrayGhostDev/technical-writers, @GrayGhostDev/devops-team, @GrayGhostDev/qa-team, @GrayGhostDev/engineering-team, @GrayGhostDev/content-team

feat: address high-priority gaps from analysis
  .github/workflows/sbom-generation.yml
  docs/GAP_ANALYSIS_CORRECTIONS.md
  docs/SLO_SLI_TARGETS.md
  infra/k8s/base/hpa-queue-scaling.yaml
  infra/vault/secret-rotation.hcl
Owners: @GrayGhostDev/devops-team, @GrayGhostDev/engineering-team, @GrayGhostDev/technical-writers

feat: Add MCP (Model Context Protocol) integration for n8n
  CLAUDE.md
  docs/MCP_N8N_INTEGRATION.md
  improvement-tasks.md
  infra/k8s/base/mcp-bridge-deployment.yaml
  mcp-bridge/.dockerignore
  mcp-bridge/Dockerfile
  mcp-bridge/package.json
  mcp-bridge/src/index.ts
  mcp-bridge/src/middleware/auth.ts
  mcp-bridge/src/middleware/error-handler.ts
  mcp-bridge/src/middleware/metrics.ts
  mcp-bridge/src/routes/health.ts
  mcp-bridge/src/routes/mcp.ts
  mcp-bridge/src/routes/webhook.ts
  mcp-bridge/src/services/mcp-server-manager.ts
  mcp-bridge/src/services/webhook-manager.ts
  mcp-bridge/tsconfig.json
  n8n-nodes/credentials/MCPApi.credentials.ts
  n8n-nodes/nodes/MCPTool/MCPTool.node.ts
  n8n-nodes/nodes/MCPTool/MCPToolTrigger.node.ts
  n8n-nodes/nodes/MCPTool/README.md
  n8n-nodes/package.json
  services/mcp-bridge/Dockerfile
  services/mcp-bridge/package.json
  services/mcp-bridge/servers.json
  services/mcp-bridge/src/index.ts
  services/mcp-bridge/src/metrics.ts
  services/mcp-bridge/src/middleware/auth.ts
  services/mcp-bridge/src/middleware/error.ts
  services/mcp-bridge/src/server-manager.ts
  services/mcp-bridge/src/webhook-manager.ts
  services/mcp-bridge/tsconfig.json
  workflows/mcp-example-workflow.json
Owners: @GrayGhostDev/technical-writers, @GrayGhostDev/devops-team, @GrayGhostDev/engineering-team, @GrayGhostDev/content-team

feat: Add production-ready Docker configuration for n8n
  .github/workflows/docker-build.yml
  CLAUDE.md
  docker/n8n/.env.example
  docker/n8n/Dockerfile
  docker/n8n/Makefile
  docker/n8n/README.md
  docker/n8n/backups/.gitkeep
  docker/n8n/custom-nodes/.gitkeep
  docker/n8n/docker-compose.yml
  docker/n8n/init-scripts/01-create-extensions.sql
  docker/n8n/mcp-config/mcp-servers.json
  docker/n8n/nginx/conf.d/n8n.conf
  docker/n8n/nginx/nginx.conf
  docker/n8n/nginx/ssl/.gitkeep
  docker/n8n/scripts/update-n8n.sh
Owners: @GrayGhostDev/devops-team, @GrayGhostDev/engineering-team, @GrayGhostDev/technical-writers, @GrayGhostDev/security-team
